@using CMS.Helpers
@model CMS.Helpers.PaginatedList<CMS.Areas.PostManager.Models.Post>
@{
    Layout = "~/Views/Shared/Public/_Layout_Home.cshtml";
    CMS.Areas.PostManager.Models.PostCategory category = (CMS.Areas.PostManager.Models.PostCategory) ViewData["Category"];
    ViewData["Title"] = category.Name;
    ViewData["Description"] = category.Description;
    ViewData["Url"] = "http://daotao.mitechcenter.vn/chuyen-muc/" + category.Slug;

}
<div class="main">
<section class="module bg-dark-60 blog-page-header"
         data-background="@category.ImageCategory">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">@category.Name</h2>
                <div class="module-subtitle font-serif">@category.Description</div>
            </div>
        </div>
    </div>
</section>

    <section class="module">
        <div class="container">
            <div class="row multi-columns-row post-columns">
                @foreach (var item in Model)
                {
                    
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="post">
                            <div class="post-thumbnail" style="width: 262px !important;  height: 172px !important;">
                                <a href="/bai-viet/@item.Slug"><img style="max-width: 100% !important; max-height: 100% !important;" src="@(item.AvatarUrl)" alt=""/></a>
                            </div>
                            <div class="post-header font-alt">
                                <h2 class="post-title"><a href="/bai-viet/@item.Slug">@item.Title</a></h2>
                            </div>
                            <div class="post-entry">
                                <p>@item.ShortDesc.Truncate(200)</p>
                            </div>
                            <div class="post-more"><a class="more-link" href="/bai-viet/@item.Slug">Read more</a></div>
                        </div>
                    </div>
                    
                    
                    
                    
                    @* <div class="col-sm-6 col-md-3 col-lg-3"> *@
                    @*     <div class="post"> *@
                    @*         <div class="post-thumbnail" style="width: 262px !important;  height: 172px !important;"> *@
                    @*             <a href="/bai-viet/@item.Slug"> *@
                    @*                 <img style="max-width: 100%;max-height: 100%" src="@item.AvatarUrl" alt="@item.Title"/> *@
                    @*             </a> *@
                    @*         </div> *@
                    @*         <div class="post-header font-alt"> *@
                    @*             <h2 class="post-title"> *@
                    @*                 <a href="/bai-viet/@item.Slug">@item.Title"</a> *@
                    @*             </h2> *@
                    @*             <div class="post-meta"> *@
                    @*                 By&nbsp;<a href="/bai-viet/@item.Slug">@(item.Author ?? "QTV")</a>| *@
                    @*             </div> *@
                    @*         </div> *@
                    @*         <div class="post-entry"> *@
                    @*             <p>@item.ShortDesc.Truncate(90)</p> *@
                    @*         </div> *@
                    @*         <div class="post-more"> *@
                    @*             <a class="more-link" href="/bai-viet/@item.Slug">Chi tiết</a> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@
                }
            </div>
            
            <paginate info="@Model" page-action="Index" class="pagination"></paginate>
        </div>
    </section>
</div>