@using CMS.Helpers
@using CMS.Areas.AdminCP.DTOs
@model IEnumerable<CMS.Areas.PostManager.Models.Post>

@{
    ViewData["Title"] = "Bảng điều khiển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<DashboardItemDTO> dItems = (List<DashboardItemDTO>) ViewData["DashBoard"];
    string title = (string) ViewData["ActionTitle"];
}

 <div class="card dashboard-tcu">
    <div class="card-header bg-white">
        <h6 class="card-title text-left">
            <strong>
                @title
            </strong>
        </h6>
    </div>
    <div class="card-body pb-0">
        <div class="row">
    @foreach(DashboardItemDTO item in dItems)
    {
             <div class="col-sm-8 col-xl-4">
                <div class="card card-body @item.BgColorClass has-bg-image" style="min-height: 95px;">
                    <a asp-area=@item.Area asp-controller="@item.Controller" asp-action="@item.Action" asp-route-status="@item.Route" title="" class="text-white">
                        <div class="media">
                            <div class="media-body align-self-center">
                                <i class="@item.IconClass icon-3x opacity-1"></i>
                            </div>
                            <div class="text-right">
                                <h3 class="mb-0">@item.Total</h3>
                                <span class="text-uppercase font-size-lg">@item.Title</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    }
        </div>
    </div>
 </div>  
