@using CMS.Helpers
@model CMS.Areas.ContactManager.Models.Contact
@inject ContextHelper ctxHelper
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/Public/_Layout_Home.cshtml";
    var globalSettings = ctxHelper._context.GlobalSettings.FirstOrDefault();
    if (globalSettings == null) globalSettings = DefaultGlobalSettings._DefaultSettings;
    else globalSettings = globalSettings.MapSettings();

}
@* header *@
<section class="home-section bg-dark-30" id="home" data-background="~/assets/web//images/finance/finance_header_bg.png">
    <div class="video-player" data-property="{videoURL:'https://youtu.be/o2X0FGEmtb8', containment:'.home-section', startAt:30, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls">
                <a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Chào &amp; mừng</div>
            <div class="font-alt mb-40 titan-title-size-4">Bạn tới với Quảng Ninh</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Tìm hiểu thêm</a>
        </div>
    </div>
</section>

<section class="module-extra-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                <div class="callout-text font-alt">
                    <h4 style="margin-top: 0px;">tìm kiếm một chuyến du lịch Quảng Ninh?</h4>
                    <p style="margin-bottom: 0px;">Chúng tôi ở đây để giúp bạn</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="callout-btn-box">
                    <a class="btn btn-w btn-round"asp-action="Index" asp-controller="Contacts">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module sliding-portfolio">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Nổi bật cùng Quảng Ninh</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel text-center" data-items="4" data-pagination="false" data-navigation="false">

                @foreach (var postFeatured in ViewBag.PostFeatured)
                {
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="work-item">
                                <a href="/bai-viet/@postFeatured.Slug">
                                    <div class="work-image">
                                        <img src="@(postFeatured.AvatarUrl)" alt="@(postFeatured.Title)"/>
                                    </div>
                                    <div class="work-caption font-alt">
                                        <h3 class="work-title">@postFeatured.Title</h3>
                                        <div class="work-descr">@postFeatured.ShortDesc</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-12">
                <div class="text-center">
                    <a class="btn btn-border-d btn-circle mt-50" asp-action="Index" asp-controller="Category">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module bg-dark-60 parallax-bg" data-background="../assets/web/images/finance/finance_funfact_bg.jpeg" style="background-position: 50% 15%;">
    <div class="container">
        <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                    <div class="count-icon">
                        <span class="icon-target"></span>
                    </div>
                    <h3 class="count-to font-alt" data-countto="85"></h3>
                    <h5 class="count-title font-serif">Sự tin tưởng đến với chúng tôi</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                    <div class="count-icon">
                        <span class="icon-bargraph"></span>
                    </div>
                    <h3 class="count-to font-alt" data-countto="134"></h3>
                    <h5 class="count-title font-serif">Phân tích nơi du lịch</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                    <div class="count-icon">
                        <span class="icon-trophy"></span>
                    </div>
                    <h3 class="count-to font-alt" data-countto="26"></h3>
                    <h5 class="count-title font-serif">Các địa điểm đáng đến</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                    <div class="count-icon">
                        <span class="icon-happy"></span>
                    </div>
                    <h3 class="count-to font-alt" data-countto="790"></h3>
                    <h5 class="count-title font-serif">Số lượng khách hàng đến với chúng tôi</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module" id="news">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Các bài đăng trên blog mới nhất </h2>
                <div class="module-subtitle font-serif">Gọi nơi Hạ Long tọa lạc và vịnh bởi vùng ấy biển ăn sâu vào đất liền. Hạ Long nằm ở phần bở Tây của vịnh Bắc Bộ, khu vực biển Đông Bắc Việt Nam. Nơi đây có 1969 hòn đảo lớn nhỏ, trong đó có những hòn đảo với những bãi tắm và hang động là địa điểm du lịch thu hút nhiều du khách nhất tại đây. Những hòn đảo này, không chỉ khác với những hòn đảo khác trên đất nước Việt Nam mà giữa chúng cũng có sự khác biệt rất rõ.</div>
            </div>
        </div>

        @* render các bài post mới nhất  *@
        <div class="row multi-columns-row post-columns">

            @foreach (var post in   ViewBag.NewPost)
            {
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="post mb-20">
                        <div class="post-thumbnail">
                            <a href="/bai-viet/@post.Slug">
                                <img src="@post.AvatarUrl" alt="@post.Title"/>
                            </a>
                        </div>
                        <div class="post-header font-alt">
                            <h2 class="post-title">
                                <a href="/bai-viet/@post.Slug">@post.Title</a>
                            </h2>
                            <div class="post-meta">
                                Tác giả &nbsp;<a href="/bai-viet/@post.Slug">@post.Author</a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <p>@(post.ShortDesc != null ? post.ShortDesc.ToString().Substring(90) + "..." : "")</p>
                        </div>
                        <div class="post-more">
                            <a class="more-link" href="/bai-viet/@post.Slug">Xem thêm</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@* đối tác *@
<section class="module-small bg-dark p-0">
    <div class="container">
        <div class="row client">
            <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-1.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-2.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-3.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-4.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-5.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-1.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-2.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-3.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="client-logo">
                            <img src="~/assets/web/images/client-logo-4.png" alt="Client Logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module pt-0 pb-0" id="contact">
    <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6">
            <div class="row finance-image-content">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="module-title font-alt align-left">Thông tin liên hệ </h2>
                    <form role="form" asp-area="ContactManager" asp-controller="ContactsPublic" asp-action="Index" method="post">
                        <input type="hidden" asp-for="Title" value="Gửi liên hệ">
                        <input type="hidden" asp-for="PhoneNumber" value="123456789">
                        <div class="form-group">
                            <label class="sr-only" for="name">Họ và tên</label>
                            <input class="form-control" type="text" id="name" asp-for="@Model.Fullname" placeholder="Họ và tên*" required="required" data-validation-required-message="Vui lòng nhập họ tên."/>
                            <span asp-validation-for="@Model.Fullname" class="help-block text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <input class="form-control" type="email" id="email" asp-for="@Model.Email" placeholder="Email*" required="required" data-validation-required-message="Vui lòng nhập địa chỉ."/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" id="message"  asp-for="@Model.Content" placeholder="Nội dung*" required="required" data-validation-required-message="Vui lòng nhập nội dung."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-round btn-d" type="submit">Gủi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image p-0">

            <div class="contact-map">
                <div class="box-text">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(globalSettings.EmbedMapURL))
                </div>
            </div>

        </div>
    </div>
</section>