@*@model IEnumerable<CMS.Areas.GalleryManager.Models.GalleryItem>*@
@model CMS.Helpers.PaginatedList<CMS.Areas.GalleryManager.Models.GalleryItem>

@{
    ViewData["Title"] = ViewData["GalleryTitle"];
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<a asp-action="Index" asp-controller="Galleries" class="btn btn-dark mb-2">&larr; Danh sách thư viện media</a>

<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title">Quản lý @((ViewBag.Gallery.Type == "photo") ? "hình ảnh" : "video") / <small>@ViewData["Title"]</small></h6>
        <div class="header-elements">
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </div>
    </div>
    <div class="card-body p-0">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" style="width:100px;">
                            Thứ tự
                        </th>
                        <th style="width: 175px;" class="text-center">
                            Hình ảnh
                        </th>
                        <th style="width:45%;">
                            Tiêu đề
                        </th>
                        <th class="text-center">
                            Trạng thái
                        </th>
                        <th class="text-center">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">
                            <input type="number" data-id="@item.Id" value="@item.Order" class="form-control" onchange="changeOrder(this); return false;" />
                        </td>
                        <td class="text-center">
                            @if (!String.IsNullOrEmpty(item.Image))
                            {
                                <img src="@item.Image" style="max-width: 150px;max-height: 150px;" />
                            }
                        </td>
                        <td>
                            <strong>@item.Title</strong>
                        </td>
                        <td class="text-center">
                            @if (item.Published)
                            {
                                <span class="text-success">Hiển thị</span>
                            }
                            else
                            {
                                <span class="text-danger">Ẩn</span>
                            }
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary ml-2" data-popup="tooltip" title="Sửa"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" onclick="askToDelete(this); return false;" class="text-danger ml-2" data-popup="tooltip" title="Xóa"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="p-3">
                <div class="alert alert-info alert-sm">Không tìm thấy dữ liệu</div>
            </div>
        }
    </div>
    @if (Model.TotalPages > 0)
    {
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div>
                Hiển thị <b>@Model.Count()</b> trên tổng số <b>@ViewBag.totalitem</b> kết quả
            </div>
            <paginate info="@Model" page-action="Index" class="pagination pagination-flat pagination-sm justify-content-between mt-2 mt-sm-0"></paginate>
        </div>
    }
</div>

@section Scripts {
    <script>
        var inProcess = false;
        function changeOrder(el) {
            if (!inProcess) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeOrder")",
                    data: {
                        __RequestVerificationToken: _token(),
                        id: $(el).data("id"),
                        order: $(el).val()
                    },
                    dataType: "JSON",
                    success: function (res) {
                        inProcess = false;
                        if (res.status) {
                            if (typeof res.reload !== typeof undefined && res.reload) {
                                showNotify(res.message, "success");
                                setTimeout(() => {
                                    window.location.reload();
                                }, 1500);
                            } else {
                                showNotify(res.message, "success");
                            }
                        } else {
                            showNotify(res.message, "error");
                        }
                    },
                    error: function (res) {
                        showNotify("Lỗi không xác định. Không thể cập nhật!", "error");
                    }
                });
            }
        }
    </script>
}