<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- open-graph -->
    <meta property="og:site_name" content="CỔNG THÔNG TIN ĐIỆN TỬ - TRƯỜNG ĐẠI HỌC THÔNG TIN LIÊN LẠC" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@ViewData["Url"]" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@ViewData["Image"]" />
    <partial name="~/Views/Shared/Public/_Partial_Styles.cshtml" />
</head>

<body>
     @(await Component.InvokeAsync("HeaderBar"))
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-9">
                    @RenderBody()
                    <div class="list-news">
                        <div class="title">
                            <h2>Các bài viết mới nhất</h2>
                        </div>
                       @(await Component.InvokeAsync("RecentPost"))
                    </div>                     
                </div>     
                <div class="col-xs-12 col-md-5 col-lg-3">
                    @(await Component.InvokeAsync("RightWidget"))
                </div>                  
            </div>
        </div>
    </main>
    <partial name="~/Views/Shared/Public/_Partial_Footer.cshtml" />
    <partial name="~/Views/Shared/Public/_Partial_Scripts.cshtml" />
</body>

</html>