@inject CMS.Helpers.ContextHelper ctxHelper
@inject CMS.Helpers.MenuExtensions menuHelper
@using CMS.Helpers
@{
    var settings = ctxHelper._context.GlobalSettings.FirstOrDefault();
    var top_menu = ctxHelper._context.Menus.Where(m => m.Alias == "MAIN_MENU").First();
    var main_menu_items = menuHelper.TreeMenu(top_menu.Id).AsQueryable();
}

<!--menu -->
<!--endmenu -->
<nav id="header" class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button><a class="navbar-brand" asp-controller="Home" asp-action="Index">Travel QN</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
             
                @foreach (var item_lv1 in main_menu_items)
                {
                    if (item_lv1.Children.Count() > 0)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="@item_lv1.Link" data-toggle="dropdown">@item_lv1.Title</a>
                                <ul class="dropdown-menu">
                                    @foreach (var item_lv2 in item_lv1.Children)
                                    {
                                        if (item_lv2.Children.Count() > 0)
                                        {
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="@item_lv2.Link">@item_lv2.Title</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var item_lv3 in item_lv2.Children)
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" href="@item_lv3.Link">@item_lv3.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a class="dropdown-item" href="@item_lv2.Link">@item_lv2.Title</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@item_lv1.Link">@item_lv1.Title</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>